@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap");
.chude {
    font-family: "Playfair+Display", sans-serif;
    font-weight: 400;
    padding: 10px 0px 10px 0px;
}
.chude-content {
    color: white;
    font-family: "Playfair+Display", sans-serif;
    font-weight: 400;
    font-size: 23px;
}
