.khampha {
    position: relative;
    width: 100%;
    height: 100%;
}
.out-content {
    position: absolute;
    top: 60px;
    color: blanchedalmond;
}
.list-play-list {
    width: 990px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.the__loai {
    width: 990px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}
.the__loai div {
    margin-left: 5px;
}
