.navbar {
    display: flex;
    position: relative;
}
.navbar .navbar-left {
    position: fixed;
    width: 250px;
    height: 100%;
    background-color: rgba(61, 11, 85, 0.7);
}
/* chau css xong */
.navbar .navbar-logo {
    padding: 22px;
}
.navbar .navbar-left .navbar-content {
    font-size: 16px;
    list-style: none;
}
.navbar .navbar-left .navbar-content li {
    padding: 12px 22px;
}
.navbar .navbar-left .navbar-content li a {
    color: rgba(255, 235, 205, 0.836);
    text-decoration: none;
    display: block;
}
.navbar .navbar-left .navbar-content li a .narbar-icon {
    margin-right: 10px;
    top: 20px;
}
.navbar .navbar-left .navbar-content li:hover {
    background: rgba(72, 15, 99, 0.7);
}
.navbar .navbar-left .navbar-content li:hover a {
    color: white;
}
.navbar .navbar-left .navbar-login {
    display: block;
    width: 210px;
    height: 130px;
    background-color: rgba(238, 10, 181, 0.712);
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    outline: none;
}

.navbar .navbar-left .navbar-login p {
    color: white;
    font-size: 14px;
    padding-bottom: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-rendering: optimizeLegibility;
}
.navbar .navbar-left .navbar-login .navbar-login-button {
    width: 165px;
    height: 30px;
    outline: none;
    border: none;
    background-color: rgb(235, 50, 164);
    border: 2px solid #fff;
    text-align: center;
    color: #fff;
    border-radius: 17px;
    font-style: unset;
}
